.resume {
  background-color: #3d91cd;
  float: left;
  width: 150px;
  height: 140px;
  margin-left: 30px;
  color: #fff;
  text-align: center;
}

.resume p {
  font-size: 30px;
  margin-top: 100px;
}

table, th, td {
  clear: both;
  padding: 3px 0;
}

table {
  width: 100%;
}

body {
  background-color: #b7b7b7;
  margin: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.wrapper {
  background-color: #f1f1f1;
}

h1{
  margin-left: 30px;
  font-size: 80px;
}

h1 small {
  font-size: 30px;
}

h1 ,h2 {
  text-transform: uppercase;
}

small {
  text-transform: none;
}

.spetitle {
  font-size: 25px;
  text-transform: uppercase;
}

.valuespe {
  font-size: 14px;
}

th, h2 {
  color: #3d91cd;
  text-align: left;
}

th small, h2 small {
  color: #000;
  display: block;
}

.blackth th {
  color: #000;
  text-align: right;
  vertical-align: top;
  width: 30%;
  padding: 4px 10px 0 0;
}

h1 {

}

h2 {
  margin: 0;
}

p {
  font-size: 20px;
  margin-top: 1px;
}

i {
  color: #3d91cd;
}

hr {
  background-color: #3d91cd;
  color: #3d91cd;
  border-width: 1px;
  border-style: solid;
  margin: 20px 0;
}

.test {
  padding-top: 90px;
}

.test2 {
  padding-top: 60px;
}

footer {
  background-color: #3d91cd;
}
